/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generici */
body {
    background-color: hsl(330, 100%, 98%);
    text-align: left;
}

main {
    height: calc(100vh - 60px);
}

h2 {
    color: hsl(332, 51%, 32%);
}

p,
span {
    color: hsl(30, 18%, 34%);
}

.card {
    background-color: hsl(0, 0%, 100%);
}

footer {
    padding: 20px 0;
    text-align: center;
    height: 60px;
}

/* utili */

.font-title {
    font-family: "Young Serif", serif;
}

.font-size {
    font-size: 22px;
}

.color {
    color: hsl(332, 51%, 32%);

}

.padding {
    padding: 20px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

/* picture */

img {
    max-width: 100%;
    height: auto;
}



/* preparazione */

.preparation {
    background-color: hsl(332, 51%, 98%);
    border-radius: 20px;
    padding: 20px;
    font-family: "Outfit", sans serif;
}

/* liste */

ul,
ol {
    list-style-position: inside;
    font-family: "Outfit", sans serif;
    color: hsl(332, 51%, 32%);
}

/* line */

hr {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid hsl(30, 54%, 90%);
}

/* media querie */

@media screen and (min-width: 1000px) {
    /* container */

    .container {
        max-width: 480px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .card {
        padding: 20px;
        border-radius: 20px;
    }
}