/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
}

/* generici */
body {
    background-color: hsl(0, 0%, 100%);
}

h2 {
    color: hsl(332, 51%, 32%);
}

/* utili */

.font-title {
    font-family: "Young Serif", serif;
}

.color {
    color: hsl(332, 51%, 32%);

}

.padding {
    padding: 20px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

/* picture */

img {
    max-width: 100%;
    height: auto;
}

/* container */

.container {
    max-width: 360px;
    margin: 0 auto;
}

/* preparazione */

.preparation {
    background-color: hsl(332, 51%, 98%);
    border-radius: 20px;
    padding: 20px;
    font-family: "Outfit", sans serif;
}

/* liste */

ul,
ol {
    list-style-position: inside;
    list-style-type: hsl(332, 51%, 32%);
    font-family: "Outfit", sans serif;
}

/* line */

hr {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid hsl(30, 54%, 90%);
}